<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 360 Tech</title>
    <link rel="stylesheet" href="~/css/custom-bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/shared.css" /> <!-- Link to the new CSS file -->
    <link rel="stylesheet" href="~/css/custom.css" /> <!-- Link to the custom CSS file -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <ul class="navbar-nav profile-link-mobile ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user" style="color:white;"></i></a>
                </li>
            </ul>

            <a class="navbar-brand" href="/">
                <img src="~/lib/img/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">Subscribe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">Contact</a>
                    </li>
                </ul>
                <form class="form-inline header-search-form my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav profile-link ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user" style="color:white;"></i> &nbsp;&nbsp;Username</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - 360 Tech - <a href="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0e1348bbaa.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
